@charset "utf-8";

html {font-size: 10px; }

body {
	overflow-y: scroll; cursor: url(../../resources/images/icon_heartRed.png) 0 0,auto;
}
/* body::-webkit-scrollbar {
	background: var(--color-beige);
	width: 20px;
}
body::-webkit-scrollbar-thumb {
	background: var(--color-red);
	border-radius: 150px;
} */
/* body::-webkit-scrollbar-button:vertical:increment {
	width:20px; height:20px;
	background: #ccc;
}
body::-webkit-scrollbar-button:vertical:decrement {
	width:20px; height:20px;
	background: #ccc;
} */
img {width:100%; display:block;}
.blind {position:absolute; left:-9999px; top:-9999px;}
.cursor-item {
	z-index:11;
	position:absolute; top:0; left:0;
	width:100px; height:100px;
	background-color: blueviolet; cursor: none;
}
.container {padding:0 20px; max-width: 1430px; width: 100%; margin: auto;}
.container--full {max-width: auto; width:100%;}
.columns--flex {display:flex;}
.flex {display:flex;}
.title h2 {font-family: var(--font-black); text-align:center; text-transform: uppercase; letter-spacing: 0.5rem; font-size: var(--font-large); }
.title p {
	margin-top:5px; font-size: var(--font-small); 
	font-family: var(--font-regular--kr); 
	/* font-family:'Montserrat-Bold','dotum','돋움',Arial, Helvetica, sans-serif; */
}
.section {position:relative; padding:10rem 0}
.logo {font-family: var(--font-black);}
.btn--gotoTop {z-index:12; position:fixed; right:20px; bottom:20px; width:70px; height:70px;}
.btn--gotoBot {
	/* display:none; */
	position:absolute; bottom: -116px; left:68%; transform: translateX(-50%); margin-left:-20px; max-width: 7.8rem; width:100%; height:auto; animation:gotoBotAni 2s linear infinite
}

/* * 모바일 햄버거 메뉴 */
.hamburger {display:none;}
/* Heart Drop */
.heart-drop span {z-index:999; position:absolute; top:10%; left:3%; width: 3rem; height:3rem; animation:heartDrop 8s linear infinite;}
.heart-drop span:nth-child(2) {animation:heartDrop 8s 2s linear infinite; left:20%; top: -7%;}
.heart-drop span:nth-child(3) {animation:heartDrop 8s 1s linear infinite; left:40%; top: -10%;}
.heart-drop span:nth-child(4) {animation:heartDrop 8s 3s linear infinite; left:70%; top: -5%}
.heart-drop span:nth-child(5) {animation:heartDrop 8s 1s linear infinite; left:90%; top: -8%;}



/* ! +++++++++++++ header +++++++++++++  */
#header {opacity:1; z-index:11; position:fixed; top:-200px; padding:30px 0; width:100%; background: var(--color-beige); border-bottom:var(--border-medium); transition: all 0.3s;}
#header.active {top:0}
#header nav {display:flex; justify-content: space-between; align-items: center;}
#header nav .nav__left {display:flex; align-items: center;}
#header nav .logo {font-size:3rem; font-family: var(--font-black);}
#header nav .gnb {display:flex; margin-left:7rem;}
#header nav .gnb li {margin-right:5rem;}
#header nav .gnb li a {padding:5px; font-family: var(--font-bold); text-transform:uppercase; font-size:var(--font-medium); font-size:18px;}
#header nav .sns {display:flex; position:relative;}
#header nav .sns::before {content: ''; position: absolute; width: 0.3rem; height: 51px; left: 50%; transform: translateX(-50%); top: 19px; background: var(--color-black);}
#header nav .sns li {margin:0 5rem;}
#header nav .sns li a {position:relative; display: block; padding: 7px; width: 30px; height: 30px; border-radius: 50%; background: var(--color-black);}

#main {position:relative; padding-top: 15rem;}
#main.active {top:200px}


/*  ! +++++++++++++ section | home__keyVisual +++++++++++++  */
h1 .title-deco {position:relative;}
h1 .title-deco::before {
	z-index: -1;
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 20px;
	height: 20px;
	background-image: url(../../resources/images/icon_heartRed.png);
	background-size: 100%;
	animation: titleDecoHeart 1s ease-in-out infinite;
}

.deco--run {
	font-size: 35px;
	display: block;
	position: absolute;
	z-index: 10;
	right: 14%;
	top: 93%;
	transform: rotate(45deg);
	transition: all 0.3s;
}
.deco--run.active {top:60%; transform: rotate(90deg);} 

.home__keyVisual {padding:2em 0 0}
.home__keyVisual .container {position:relative;}
.home__keyVisual h1 {margin:-50px 0 2rem; font-size:2.8rem; font-family: 'Montserrat-Bold'; text-align: center;}
/* .home__keyVisual h1.active {margin: 20rem 0 2rem;} */



/* Card Rotate */
.home__keyVisual .frame {
	position:relative;
	max-width:1440px; width:100%;
	height:60rem;
	/* border: 3px solid #111; */
	display:flex;
	align-items: center;
	justify-content: center;
}
.home__keyVisual .center {
	display:flex;
	align-items: center;
	justify-content: center;
}

.home__keyVisual .home__keyVisual.center {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width:100%;
}
.home__keyVisual .card {
	margin:0 20px;
	width:auto;
}
.home__keyVisual .card,
.home__keyVisual .wrap{
  position: relative;
  width: 200px;
  height: 400px;
  border-radius: 12px;
  perspective: 750px;  /* 원근법 ,transform과 같이 사용 */ 
	/* background: #fff; */
	transition: all 1s;
}
.home__keyVisual .wrap {
  transition: 1s;  
  transform-style: preserve-3d; /* 카드 뒤집기 핵심 */
}
.home__keyVisual .card.active {width:300px;}
.home__keyVisual .card.active .wrap {width:300px; transform: rotateX(180deg);}
.home__keyVisual .card.active .wrap.w--01 {transition-delay: 0.1s;}
.home__keyVisual .card.active .wrap.w--02 {transition-delay: 0.2s;}
.home__keyVisual .card.active .wrap.w--03 {transition-delay: 0.3s;}
.home__keyVisual .card:hover {transform: translateY(-50px); transition: all 0.3s;}
.home__keyVisual .card:hover .wrap{
		transform: rotateX(180deg);
	}

.home__keyVisual .back,
.home__keyVisual .front {
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: 50% 0;
  /* background: #fff; */
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	/* border:3px solid #111; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.home__keyVisual .front {z-index: 1;}
.home__keyVisual .back {transform: rotateX(180deg) translate(-50%,-50%);}
.home__keyVisual .card {display: flex; flex-wrap: wrap;}





.home__keyVisual .circle-text {display:none; position:absolute; top:-66px; right:-14%; max-width:20rem; width:100%; height:auto; animation:spin 7s linear infinite;}

/* ! +++++++++++++ section | home__bar-text +++++++++++++  */
/* .home__bar-text {background: var(--color-black);} */
.home__bar-text {padding:4rem 0}
.home__bar-text .rolling {padding:1rem 0;}
/* .home__bar-text .rolling ul {display:flex;} */
.home__bar-text .rolling ul li {
	margin:0 2rem; font-family: 'Montserrat-Black'; letter-spacing: 0.5rem; 
	text-align:center; line-height: 1.3;
	font-size:9rem;
}
.home__bar-text li {
	/* color: #111; */
	color: #fff;
	text-shadow:
	-1px -1px 0 #111,
	1px -1px 0 #111,
	-1px 1px 0 #111,
	1px 1px 0 #111;   
}
.home__bar-text li.fill{
	color: #111;
	text-shadow:none
}
/* .home__bar-text li:nth-child(1) {padding-left:30%; transition: all 0.3s;}
.home__bar-text li.fill:nth-child(1) {padding-left: 0;} */

.rollingAni {padding:1rem 0; transform: translateX(-50%); animation: rollingAni 10s linear infinite;}





/*  ! +++++++++++++ section | home__slogan +++++++++++++  */
.home__slogan {padding:8rem 0; background:var(--color-beige); font-family: 'Montserrat-Black';}
.home__slogan .slogan ul {position:relative; display:flex; justify-content: center; width:100%;}
.home__slogan .slogan ul li {z-index:1; position:relative; margin:0 5rem; font-weight:bold; letter-spacing: -1px; font-size:5.5rem; }
.home__slogan .slogan ul li::before {content:'';position:absolute; top:50%; transform: translateY(-50%); right:-5rem; width:5px; height:40px; background:#000;}
.home__slogan .slogan ul li:last-child::before {display:none;}
.home__slogan .slogan ul li::after {    
	z-index: -1;
	content: '';
	position: absolute;
	max-width: 384px; width:100%;
	min-height: 171px; height:100%;
	top: 60%;
	left : 0;
	transform: translateY(-50%);
	background: url(../images/bg_brush_01.png) no-repeat top/100%;
}
.home__slogan .slogan p {
	margin:2rem 0 -2rem; text-align: center; 
	font-family: var(--font-regular--kr);
	font-weight: bold;
	font-size:var(--font-small);
}
.home__slogan .slogan p .text--rotate {display:inline-block; animation: textRotate 1s linear infinite;}


/*  ! +++++++++++++ section | home__portfolio +++++++++++++  */
.home__portfolio {z-index:1; background:var(--color-main); background-image: url(../../resources/images/bg_heart.png);
	background-size: 80%;}
/* .home__portfolio::before {z-index:-1; content: ''; position:absolute; width:100%; height:100%; background:url('../../resources/images/bg_heart.png')top/cover; animation:heartBg 7s linear infinite; transform: translateY(-50%);}
@keyframes heartBg {
	0% {transform: translateY(-20%);}
	100% {transform: translateY(100%);}
} */
.home__portfolio .container {padding: 0 30px;}
.home__portfolio .title {text-align:center;}
.home__portfolio .list {margin-top:8rem;}
.home__portfolio .list ul {}
.home__portfolio .list ul li {flex:1; margin:0 1rem; background: var(--color-main);}
/* .home__portfolio .list ul li > a {border: var(--border-large);} */
.home__portfolio .list ul li .list__thumb {position:relative; border: var(--border-medium); border-bottom: 0; max-width: 451px; height: 446px; background: var(--color-white); overflow:hidden;}
.home__portfolio .list ul li .list__thumb::before {opacity:0; content: 'More →'; padding-top:185px; position:absolute; width:100%; height:100%; background: #000; transition: all 0.3s; font-weight:bold; text-align: center; font-size:4rem; color: #fff; }
.home__portfolio .list ul li:hover .list__thumb::before {opacity:0.95;}

.home__portfolio .list ul li .list__thumb img {object-fit: cover; height:100%;}
.home__portfolio .list ul li:nth-child(3) .list__thumb img {object-fit: none; object-position: 50% -81px;}
.home__portfolio .list ul li .list__text {padding:1rem 20px; background: var(--color-white); border: var(--border-medium); font-size:var(--font-medium); font-family: var(--font-bold);}

/* *Heart Card Rotate Animation  */
.home__portfolio .card {position:absolute; z-index:12; top:20%; left:50%; transform: translateX(-50%);}
.home__portfolio .wrap {position: relative; width: 90px; height: 90px; perspective: 30px;}
.home__portfolio .front,
.home__portfolio .back {
	position: absolute;
	width: 100%; 	height: 100%;
}
.home__portfolio .front {z-index: 2;}
.home__portfolio .back {z-index: 1;}
.key-heart {
	opacity:0;
	position: relative;
	left: 0; top: 0;
	width: 90px; height: auto;
	perspective: 30px;   
	transition: 1s;  
	transform-style: preserve-3d; 
}
/* hover하면 하트 뒤지힘 */
.home__portfolio .list ul li {position:relative;}
.home__portfolio .list ul li:hover .key-heart {transform: rotateY(180deg); opacity:1;}
.home__portfolio .list ul li:hover .back {z-index: 2;}



/*  ! +++++++++++++ section | home__click +++++++++++++  */
.home__click {z-index:10; position:sticky; top:0; left:0; padding:5rem 0; background:lawngreen; color:var(--color-white); cursor: pointer; animation: bgColorAni 0.5s ease infinite; transition: all 0.3s;}
.home__click::before {content: ''; position:absolute; top:0; left:-100%; width:100%; height:100%; background: var(--color-black); transition: all 0.5s;}
.home__click.active {background: #111;}
/* .home__click.active::before {left:0; } */

.home__click .title {position:relative;}
.home__click .title--change {animation: txtChangeAni 0.5s ease infinite; opacity:0.3;}

.home__click .title--change::before {display:block; position:absolute; content:'+ click +'; width:100%; height:100%; left:0; top:0;}
.home__click .title--change::after {display:none; position:absolute; content:'- close -'; width:100%; height:100%; left:0; top:0;}
.home__click .title--change.on::before {display:none;}
.home__click .title--change.on::after {display:block;}
.home__click .title--change:hover::before {content: '! my resume !';}
.home__dropdown {z-index:1; position: sticky; top:238px; padding:0 30px 0; background: var(--color-black);}
.home__dropdown.on {z-index:3; padding:20px 30px 0}
.home__dropdown .dropdown-resume {opacity:0; height:0; transition: all 0.2s; background:var(--color-black);}
.home__dropdown .dropdown-resume.show {opacity:1; height:auto; padding: 0 0 50px;}
.home__dropdown .dropdown-resume .columns {/* overflow-y: scroll; */ height: auto;padding:5rem; max-width: 1300px; width: 100%; margin: auto; background: var(--color-white);}
/* * ScrollBar Custom */
.home__dropdown .dropdown-resume .columns::-webkit-scrollbar {
	background: #ccc;
	width:20px;
}
.home__dropdown .dropdown-resume .columns::-webkit-scrollbar-thumb {
	background: #333;
	width:30px;
	border-radius: 50px;
}

.home__dropdown .dropdown-resume .columns {position:relative;}
.home__dropdown .dropdown-resume .columns > div {flex: 1;}
.home__dropdown .dropdown-resume .columns .picture {max-width: 312px; height:auto;}
.home__dropdown .dropdown-resume .columns .picture img {border:var(--border-medium)}
.home__dropdown .dropdown-resume .columns .info {margin:0 8rem}
.home__dropdown .dropdown-resume .columns .info strong {font-family: var(--font-black); font-size: var(--font-small);}
.home__dropdown .dropdown-resume .columns .info h4 {font-family: var(--font-regular); font-size:3rem;}
.home__dropdown .dropdown-resume .columns .info p {margin-top:5rem; font-size: var(--font-small);}
.home__dropdown .dropdown-resume .columns .info a {display: inline-block; margin-top: 5rem; padding: 1rem 3rem; border-radius: 6px; border: 2px solid #000; font-size: var(--font-small);}
.home__dropdown .dropdown-resume .columns .info a:hover {background: var(--color-black); color: var(--color-white);}
.home__dropdown .dropdown-resume .columns .heart {display:none; position:absolute; right:5rem; width:7rem}

.home__dropdown .dropdown-resume .columns .btn--close {display:none; max-width: 80px;}

/*  ! +++++++++++++ section | home__photo +++++++++++++  */
.home__photo {z-index:2; background: var(--color-beige); background-image: url(../../resources/images/bg_heart_w.png); background-size: 80%;}
.home__photo .title h2 {text-align:left;}
.home__photo .sub-title {font-size:6.7rem;}
.home__photo .sub-title p {letter-spacing: 10px;}
.home__photo .columns--flex {justify-content: space-between;}
.home__photo .columns__item--txt {padding-left:20px; margin-right:5rem; width: 360px; display: flex; flex-direction: column; justify-content: inherit;}
.home__photo .columns__item--img {width:770px;}
.home__photo .photo-slider {position:relative; right:50px; cursor: grab; border-left:var(--border-medium);;}
/* .home__photo .slider {max-width:780px; width:100%;} */
.home__photo .slider {padding:0;}
.home__photo .slider__item {margin:0 10px; border: var(--border-medium);}
.home__photo .slider__item .info {padding:20px; background: var(--color-white); font-size:var(--font-small);}
.home__photo .slider__item .info h4 {margin:5px 0; font-size:15x;}
.home__photo .slider__item .info p {font-family: var(--font-regular--kr); font-size:13px;}
.home__photo .slider__item .info .like {display:flex; align-items: center; font-size:var(--font-x-small);}
/* .home__photo .slider__item .info .like img {width: 20px; margin-right: 5px; margin-top: -2px;} */
.home__photo .slider__item .info .like i {position:relative; width:20px; height:20px; }
.home__photo .slider__item .info .like i::before {position:absolute; font-size: 20px;}
.home__photo .slider__item .info .like i::after {
	position:absolute;
	opacity:0;
	content: "\ea10"; font-size:20px; color: var(--color-red);
	transition: all 0.3s; 
	/* animation: likeHeart 1s ease forwards; */
}
/* @keyframes likeHeart{
	0% {transform: scale(1); }
	100% {transform: scale(1.2);}
} */
.home__photo .slider__item .info .like i.on::after {opacity:1; transform: scale(1.1);}
.home__photo .slider__item .info .like span {margin-left:0px; font-size:13px; color: var(--color-black);}
.home__photo .slider__item .info .like span.num {margin-left:0; margin-top:1px; font-weight:bold; color: var(--color-red);}





/*  ! +++++++++++++ section | home__review +++++++++++++  */
.home__review {z-index:2; background: var(--color-white);}
.home__review .title {text-align:center;}
.tab {margin-top:10rem;}
.tab__menu ul {max-width: 1200px; width: 100%; margin: auto; border-bottom: var(--border-medium); justify-content: center;}
.tab__menu ul li {width:246px;text-align: center; border: var(--border-medium);border-bottom: none; border-right:0; font-size:var(--font-medium);}
.tab__menu ul li.on {background: var(--color-main);}
/* .tab__menu ul li:hover {background: var(--color-beige);} */
.tab__menu ul li:last-child {border-right:var(--border-medium)}
.tab__menu ul li a {display:block; padding:10px; font-family: var(--font-bold--kr);}
.tab__content h3, 
.tab__content strong, 
.tab__content p {
	font-family: var(--font-regular--kr);
}
.tab__content--item {display:none; max-width: 1000px; width:100%; margin:10rem auto 0; justify-content: center;}
.tab__content--item .flex {justify-content: center;}
/* .tab__content--item .flex > div {flex: 1;} */
.tab__content--item .picture {display:inline-block; width:150px; height:150px; font-size:10rem; transform: scaleX(-1); border: var(--border-medium); border-radius: 50%;}
.tab__content--item .info {display:inline-block; margin-left:5rem; width:500px;}
.tab__content--item .info h3 {font-size:var(--font-medium);}
.tab__content--item .info strong {display:block; margin:3rem 0; font-size: var(--font-x-small);}
.tab__content--item .info p {font-size: var(--font-small);}


/*  ! +++++++++++++ section | home__skills +++++++++++++  */
.home__skills {padding:10px 0; border-top: var(--border-medium); background: var(--color-beige)}
.home__skills li {overflow: hidden; flex: 0 0 auto; margin:0 10px; width: 4rem; height: 4rem; border-radius: 50%; border: 2px solid var(--color-black);}
.home__skills li:hover {scale: 1.2; transition: all 0.3s;}


/*  ! +++++++++++++ footer +++++++++++++  */
#footer {position:relative; top:200px; height:400px; padding:50px 0; background:var(--color-black); color: var(--color-gray);}
#footer .columns--flex {justify-content: space-between; align-items: center;}
#footer .info {color: var(--color-gray--light);}
#footer .info a {color: var(--color-white); font-size: var(--font-medium);}
#footer .info p {font-size:16px;}
#footer .info .copyright {font-size:14px;}
#footer .sns {display:flex; justify-content: space-between; margin-top:30px; }
#footer .sns li {margin:0 15px}
#footer .sns a {display:block; width:25px; height:25px;}


@media screen and (max-width:1280px) {
	.home__photo .columns__item--img {width:46vw}
	.deco--run {right:5px;}
}

@media screen and (max-width:1040px){
	html {font-size:9px;}
	/* .home__keyVisual {padding:3vw 0 12vw} */
	.btn--gotoBot {bottom: -15%; max-width: 6.8rem;}
	.home__bar-text .rolling ul li {font-size:10vw; letter-spacing: -1px;}
	.home__slogan .slogan ul li {font-size:3.5rem;}
	.home__slogan .slogan ul li::after {top: 137%;}
	/* .home__photo .slider {max-width: 480px;} */
	.home__dropdown .dropdown-resume .columns .picture {max-width: 180px;}
	.home__dropdown .dropdown-resume .columns .info {margin: 0 6rem;}
	.home__photo .photo-slider {border: none;}
	/* .home__photo .slider__item {margin:0} */
}


@media screen and (max-width:768px){
	html {font-size:8px;}
	.section {padding:6rem 0}
	#header {padding:20px 0; opacity:0;}
	#header.active {top:0; opacity:1;};
	.btn--gotoBot {bottom:-57px}

	/* .home__keyVisual .frame {height:50vh;} */
	.home__keyVisual .card {position:absolute;}
	.home__keyVisual .image {background-position-x: -190px; height:400px;}
	.home__keyVisual .card:hover {transform: translateY(0);}

	.home__slogan .slogan ul li::before {width:2px;}
	.home__portfolio {background-size: 200%;}
	.home__portfolio .list {margin-top:5rem;}
	.home__portfolio .list ul {flex-direction: column;}
	.home__portfolio .list ul li:not(:first-child) {margin-top: 20px;}
	.home__portfolio .list ul li .list__thumb {overflow: hidden; max-width: 100%; height: 300px;}
	.home__portfolio .list ul li .list__thumb::before {padding-top:129px;}
	.home__portfolio .list ul li:nth-child(3) .list__thumb img {object-position: 50% -114px;}
	/* .home__portfolio .list ul li .list__text {font-size:18px;} */
	.home .key-heart {width:70px; margin: auto;}

	.home__click.active {padding:5rem 0}
	.home__dropdown .dropdown-resume .columns {position:relative; flex-direction: column; overflow-y: scroll; height: 500px;}
	.home__dropdown .dropdown-resume .columns .picture {max-width: 150px;}
	.home__dropdown .dropdown-resume .columns .info {margin:0;}
	.home__dropdown .dropdown-resume .columns .info strong {display:block; margin-top:15px;}
	.home__dropdown .dropdown-resume .columns .btn--close {max-width: 60px; position:absolute; right:7%; top:5%;}
	.home__photo {background-size: 200%;}
	.home__photo .title,
	.home__photo .title h2,
	.home__photo .sub-title {
		text-align: center;
	}
	.home__photo .sub-title {margin:25px 0; font-size:4.7rem;}
	.home__photo .columns--flex {flex-direction: column;}
	.home__photo .columns__item {margin: auto;}
	.home__photo .columns__item--img {width:90%;}
	.home__photo .columns__item--txt {width:80%; padding-left:0;}
	.home__photo .photo-slider {right:0;}
	.home__photo .slider__item .info p {display:none;}

	.tab {margin-top:5rem;}
	.tab__menu ul li {width:140px;}
	.tab__content--item {margin:7rem 0}
	.tab__content--item .flex {flex-direction: column; align-items: center;}
	.tab__content--item .info {margin-left:0; margin-top:20px;}
	.tab__content--item .picture {width:100px; height:100px;}
	.tab__content--item .info {margin-left:0; text-align: center; width:90%;}
	.tab__content--item .info strong {margin:2rem 0}

	#footer {height:450px;}
	#footer .columns--flex {flex-direction: column;}
	#footer .info {text-align: center;}



	/* 모바일 햄버거 메뉴 */
	.hamburger {position: absolute; top:3px; right:0px; width:37px; height:18px; cursor:pointer;}
	.hamburger span {position:absolute; top:0; left:0; width:100%; height:3px; background: var(--color-black); border-radius: 3px;}
	.hamburger span:nth-child(1) {top: 0;}
	.hamburger span:nth-child(2) {top: 50%;}
	.hamburger span:nth-child(3) {top: 100%;}

	#header nav {overflow:hidden; position:relative; width:100%; height:30px; transition-duration: 0.3s;}	
	#header nav .logo {position:absolute; top:0; left:0;}
	#header nav .gnb {    
		display:none;
    margin-left: 0;
    flex-direction: column;
    position: absolute;
    top: 80px;
	}
	#header nav .gnb li:not(:first-child) {margin-top:11px;}
	#header nav .gnb li a {
		font-family: var(--font-regular);
		font-size: 20px;
		padding:0;
	}
	#header nav .nav__right {
		display:none;
		position: absolute;
    top: 300px;
    left: -32px;
	}
	/* 모바일 햄버거 메뉴 클릭이벤트*/
	.hamburger {display:block;}
	.hamburger.on span:nth-child(1) {transform: rotate(45deg); top: 10px;}
	.hamburger.on span:nth-child(2) {display:none;}
	.hamburger.on span:nth-child(3) {transform: rotate(-45deg); top: 10px;}
	#header nav.on {height:60vh;}
	#header nav .gnb.on {display:block;}
	#header nav .nav__right.on {display:block;}



}
@media screen and (max-width:480px){
	html {font-size:7px;}
	.wrap {width:53px;}
	.home .key-heart {
    left: 0;
    top: 0;
		width:50px;
		margin:auto;
}
	.btn--gotoBot {bottom: -50px; left: 80%; max-width: 54px;}

	/* .title h2 {font-size:28px;} */
	/* .title p {font-size:14px;} */
	.home__slogan .slogan p {padding:0 11%; }
	/* .home__dropdown .dropdown-resume .columns .info p {font-size:16px;} */
	/* .tab__menu ul li {font-size:20px;} */
	.tab__content--item .info h3 {font-size:16px;}
	/* .tab__content--item .info p {font-size:14px;} */
	.tab__content--item .info strong {font-size:13px;}
}


/* * Animatiton */

@keyframes titleDecoHeart {
	0% {opacity:0;}
	100% {opacity:1; top:-20px}
}

@keyframes heartDrop {
	0% {transform: translateY(7000%);}
	100% {transform: translateY(-10%);}
}

/* 하트애니메이션 */
/* .key-heart {
	animation: keyHeart 0.7s ease infinite;
}
@keyframes keyHeart {
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
} */

@keyframes textRotate {
	0% {transform: rotate(-25deg);}
	50% {transform: rotate(25deg);}
	100% {transform: rotate(-25deg);}
}

@keyframes spin {
	0% {transform:rotate(0deg)}
	100% {transform:rotate(360deg)}
}
@keyframes gotoBotAni {
	0% {transform: translateY(-10px);}
	50% {transform: translateY(0px);}
	100% {transform: translateY(-10px);}
}
@keyframes rollingAni {
	0% {transform: translateX(-50%);}
	100% {transform: translateX(-100%);}
}

/* @keyframes bgColorAni {
	0% {background: var(--color-red);}
	50% {background: var(--color-black);}
	100% {background: var(--color-black);}
} */

@keyframes txtChangeAni {
	50% {opacity:1;}
}



	/* * Custom Css */
	/* .slick-prev:before {content: '';} */
	.home__photo .slick-prev {left:-45px}
	.home__photo .slick-next {transform: rotate(180deg);}
	.home__photo .slick-prev:before {content: url('../../resources/images/arrow_left.png');}
	.home__photo .slick-next:before {content: url('../../resources/images/arrow_left.png');}
	.home__photo .slick-dots {bottom:-40px !important}

	@media screen and (max-width:1040px) {
		.slick-arrow:before {display: none;}
	}

	/* .slick-prev:before, .slick-next:before {content: none; }
	.slick-dots {bottom:-40px !important}
	.slick-prev:before, .slick-next:before {display:none;}
	.home__photo .slick-prev {left: -57px;}
	.home__photo .slick-next {transform: rotate(180deg); right:-50px;}
	.home__photo .slick-prev {background: url('../../resources/images/arrow_left.png')no-repeat top / 100%; width:30px;}
	.home__photo .slick-prev:before {content: url('../../resources/images/arrow_left.png');}
	.home__photo .slick-next:before {content: url('../../resources/images/arrow_left.png'); rotate: 180deg;}
	.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {color: #111; background: #111;}

	.home__photo .slick-prev:hover {background: url('../../resources/images/arrow_left.png');}  */